@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    width: 90vw;
}


.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 5px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.panel h3{
    font-size: 1.5rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 3.5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.4s ease-in 0.4s;
}

.title{
    position: absolute;
    top: 0px;
    margin: 1rem auto;
}

@media (max-width: 768px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }

}